/* Custom font */
@font-face {
  font-family: 'Futura';
  font-weight: normal;
  src: url('/fonts/FuturaStd-Book.otf');
}

@font-face {
  font-family: 'Futura';
  font-weight: bold;
  src: url('/fonts/FuturaStd-Heavy.otf');
}

/* Elements */
a {
  color: white;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  color: #333333;
  font-family: 'Futura', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

button:hover {
  background-color: dodgerblue;
}

footer {
  background-color: dodgerblue;
  bottom: 0;
  color: white;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
}

header {
  background-color: dodgerblue;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

nav {
  background-color: #333;
  padding: 10px;
}

/* Classes and IDs */
.option-label {
  font-size: 18px;
  margin-bottom: 15px;
}

#message {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

/* Classes and IDs for Performance Metrics */
#performance-metrics {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

#performanceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#performanceText {
    flex: 1; /* Take remaining space */
    margin-right: 20px; /* Adjust the margin as needed */
}

#performanceChart {
    flex-basis: 300px; /* Fixed width for the chart */
}

